@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: "Garamond";
    src: url("https://cloud-aez5hhesb-hack-club-bot.vercel.app/2vcgaramondcondensed-regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "PalmerScript";
    src: url("https://cloud-aez5hhesb-hack-club-bot.vercel.app/1palmerlake-script.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "PalmerLake";
    src: url("https://cloud-aez5hhesb-hack-club-bot.vercel.app/0palmerlake-print.woff2") format("woff2");
    font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.w-fitcontent {
    width: fit-content;
}

h1, .font-garamond {
    font-family: "Garamond", serif;
}

h2, .font-palmerlake {
    font-family: "PalmerLake", sans-serif;
}

span, .font-palmerscript {
    font-family: "PalmerScript", sans-serif;
}

p, .font-inter {
    font-family: "Inter", sans-serif;
}
